* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: rgb(185, 183, 183);
    background: rgb(146, 144, 144);
    font-size: 18px;
}

header {
    background: #70df27;
    padding: 35px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    margin-bottom: 10px;
}

nav {
    background: #201dc4;
    padding: 35px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    margin-bottom: 10px;
}

