* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: rgb(185, 183, 183);
    background: rgb(146, 144, 144);
    font-size: 18px;
}

