* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: rgb(185, 183, 183);
    background: rgb(146, 144, 144);
    font-size: 18px;
}

header {
    background: #70df27;
    padding: 35px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    margin-bottom: 10px;
}

nav {
    background: #201dc4;
    padding: 35px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    margin-bottom: 10px;
}

section {
    background: #eb672a;
    float: left;
    height: 80%;
    padding: 35px;
    width: 45%;
    margin-left: 10%;
    margin-bottom: 20px;
}

article {
    background: rgb(121, 37, 146);
    margin-left: 30%;
    padding: 20px;
    width: 90%;
    height: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

div {
    background: #d3217a;
    width: 100%;
    padding: 10px;
    height: 18%;
    margin-bottom: 10px;  
    margin-top: 10px;
}

p {
    background: #602fa0;
    width: 100%;
    padding: 10px;
    height: 18%;
    margin-top: 10px;
    margin-bottom: 10px;
}

aside {
    background: #dfeb40;
    float: left;
    height: 80%;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 33%;
    margin-left: 2%;
    padding: 90px;
}

div#info {
    background: #0e6413;
    float: left;
    width: 100%;
    height: 60%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav#bottom-nav-bar {
    background: #201dc4;
    width: 80%;
    margin-top: 10px;
    clear: both;
}

footer {
    background: #60dce0;
    overflow: auto;
    padding: 35px;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 1%;
}